@import "0_MIXIN.scss";

// home
ul.projet {
  li.article {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  li.article {
    height: 40vw;

    .back {
      display: block;
      z-index: 3!important;
      bottom: 0px;
      height:100%;
      width: 100%;
      background-color: black;
    }
    .back:hover img {
      opacity: 0;
      @include prefix(transition, 0.3s, moz webkit ms);
      @include respond-to(small-screens){
        opacity: 1;
      }
    }

    .Box {
        z-index: 99999;
        position: absolute;
        top: 0;
        color: white;
        left: 0;
        display: block;
        white-space: nowrap;
    }
  }}
