@import "Wordpress_typo.scss";

$hauteur_menu: 100px;
$hauteur_menu_mobile: 150px;
$glyph_current_page_width: 20px;

.menu {
  a:hover {
    color: $white;
  }
}


.couleur_du_sommet {
  width: 100%;
  height: $hauteur_menu;
  position: fixed;
  z-index: 66666;
  top: 0px;
  @include respond-to(wide-screens){height: $hauteur_menu;};
  @include respond-to(medium-screens){height: $hauteur_menu;};
  @include respond-to(small-screens){height: $hauteur_menu_mobile;};
}

.menu {
  width: 100%;
  height: $hauteur_menu;
  position: fixed;
  z-index: 77777;
  border-bottom: $border_johl;
  top: 0px;
  @include respond-to(wide-screens){height: $hauteur_menu;};
  @include respond-to(medium-screens){height: $hauteur_menu;};
  @include respond-to(small-screens){height: $hauteur_menu_mobile;};
  .left {
    @include respond-to(wide-screens){width: 50%;};
    @include respond-to(medium-screens){width: 50%;};
    @include respond-to(small-screens){width: 100% ; text-align: center; height: $hauteur_menu_mobile/2};
    float: left;
    h1 {
      @include respond-to(wide-screens){padding: $gouttiere_large 0 0 $gouttiere_large};
      @include respond-to(medium-screens){padding: $gouttiere_medium 0 0 $gouttiere_medium};
      @include respond-to(small-screens){padding: $gouttiere_small 0 0 0};
    }
  }
  .right {
    @include respond-to(wide-screens){width: 50%;};
    @include respond-to(medium-screens){width: 50%;};
    @include respond-to(small-screens){width: 100%; height: $hauteur_menu_mobile/2;};
    float: left;
    ul#menu {
      @include respond-to(wide-screens){padding: $gouttiere_large $gouttiere_large 0 0; text-align: right;};
      @include respond-to(medium-screens){padding: $gouttiere_medium $gouttiere_medium 0 0; text-align: right;};
      @include respond-to(small-screens){padding: 0; width: 100%;};
      li {
        @include h1;
        @include respond-to(small-screens){
          width: 50%; float: left; height: $hauteur_menu_mobile/2; position: relative;
        };
        a {
          @include a; text-transform: uppercase;
          @include respond-to(small-screens){
            position: absolute; bottom: $gouttiere_small; z-index: 99999;
          };
        }
      }
      li:nth-child(2) {
        a.nav-link {
          @include respond-to(small-screens){position: absolute; right: $gouttiere_small; };
        }
      }
      li:first-child {
        @include respond-to(wide-screens){padding-right: $glyph_current_page_width*4;};
        @include respond-to(medium-screens){padding-right: $glyph_current_page_width*4;};
        @include respond-to(small-screens){padding-right: 0;};
        a.nav-link {
          @include respond-to(small-screens){padding-left: $gouttiere_small; };
        }
      }
      li.current-menu-item {
        a.nav-link::before {content: "	\002690 "; @include glyph; position: absolute; margin-left: -$glyph_current_page_width;}
      }
      li:first-child.current-menu-item {
        @include respond-to(small-screens){
        a.nav-link::before {content: unset; position: unset; margin-left: unset;}
        a.nav-link::after {content: "	\002690 "; @include glyph; position: absolute; margin-left: $glyph_current_page_width/2;}
        }
      }
    }
  }

}

.whiteit {
    @include respond-to(small-screens){height: $hauteur_menu_mobile; };
    @include respond-to(medium-screens){height: $hauteur_menu; };
    @include respond-to(wide-screens){height: $hauteur_menu;};
    width: 100%;
    display: block;
}

.Menu_principal {
  li {
    display: inline-block;
  }
  li.current-menu-item {
  }
}
