$border_johl: 1px solid black;

.en_tete_article {
  width: 100%;
  display: inline-block;
  z-index: 1;
  @include respond-to(small-screens){display: none;};
}
.en_tete_article_mobile {
  width: 100%;
  display: inline-block;
  z-index: 1;
  @include respond-to(small-screens){display: inline-block;};
  @include respond-to(medium-screens){display: none;}
  @include respond-to(wide-screens){display: none;}
}
section.liste {
  background-color: white;
  height: 100%;
  position: fixed;
  top:0px;
  padding-top: $hauteur_menu;
  border-right: 1px solid black;
  @include respond-to(small-screens){display: none;};
  @include respond-to(medium-screens){width: calc(30% - #{$gouttiere_medium_double}); margin-top: $gouttiere_medium;padding-left: $gouttiere_medium; padding-right: $gouttiere_medium};
  @include respond-to(wide-screens){width: calc(30% - #{$gouttiere_large_double}); margin-top: $gouttiere_large;padding-left: $gouttiere_large; padding-right: $gouttiere_large};
}

section.liste_deux {
  @include respond-to(small-screens){width: 100%; margin-bottom: 100px;};
  @include respond-to(medium-screens){display: none;};
  @include respond-to(wide-screens){display: none;};

}
.project_list li.current {
  text-align: right;
  .arrow {
    display: none;
  }
  a{
      @include fadein(1s);
  }
}
.project_list li {
  border-bottom: $border_johl;
  @include respond-to(small-screens){padding-bottom: $gouttiere_small/2; padding-top:  $gouttiere_small/2;};
  @include respond-to(medium-screens){padding-bottom: $gouttiere_small/2; padding-top:  $gouttiere_small/2;};
  @include respond-to(wide-screens){padding-bottom: $gouttiere_small/2; padding-top:  $gouttiere_small/2;};
  .arrow {
    float: right;
  }
}
.project_list li:first-child {
  @include respond-to(small-screens){border: none;};

}

#rendu_single {
  @include respond-to(small-screens){width: 100%;};
  @include respond-to(medium-screens){width: calc(70% - #{$gouttiere_medium_double}); padding-left: $gouttiere_medium; padding-right: $gouttiere_medium};
  @include respond-to(wide-screens){width: calc(70% - #{$gouttiere_large_double}); padding-left: $gouttiere_large; padding-right: $gouttiere_large};
  float: right;
}
.first {
  width: 100%;
  z-index: 1;
  @include respond-to(small-screens){margin-bottom: $gouttiere_small};
  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
  @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
}
.third {
  width: 70%;
  float: left;
  z-index: 1;
  @include respond-to(small-screens){  width: 100%; margin-bottom: $gouttiere_small};
  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
  @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
}
.second {
  width: 20%;
  margin-left: 10%;
  float: left;
  z-index: 1;
  @include respond-to(small-screens){  margin-left: 0%; width: 100%; margin-bottom: $gouttiere_small};
  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
  @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
}

// Partie droite
              .contenu {
                width: 100%;
                div {
                  @include respond-to(small-screens){margin-bottom: $gouttiere_small};
                  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
                  @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
                }
                .entier {
                  width: 100%;
                  height: 40vw;
                  float: left;
                  @include respond-to(small-screens){height: 60vw;};

                }
                .moitie {
                  @include respond-to(medium-screens){width: calc(50% - #{$gouttiere_medium_divide}); padding: 0 $gouttiere_medium/2 0 0;}
                  @include respond-to(wide-screens){width: calc(50% - #{$gouttiere_large_divide}); padding: 0 $gouttiere_large/2 0 0;}
                  @include respond-to(small-screens){width: 100%;  height: 60vw;};
                  height: 25vw;
                  float: left;
                }
                .moitiedeux {
                  @include respond-to(medium-screens){width: calc(50% - #{$gouttiere_medium_divide}); padding: 0 0 0 $gouttiere_medium/2;}
                  @include respond-to(wide-screens){width: calc(50% - #{$gouttiere_large_divide}); padding: 0 0 0 $gouttiere_large/2;}
                  @include respond-to(small-screens){width: 100%; height: 60vw;};
                  height: 25vw;
                  float: left;
                }
              }
