@import "menu_mobile.scss";
$border_johl: 1px solid black;

.show_and_animate_list {
  @include fadein(1s);
}
.en_tete_article {
  width: 100%;
  display: inline-block;
  z-index: 1;
  @include respond-to(small-screens){display: none;};
}
.en_tete_article_mobile {
  width: 100%;
  display: inline-block;
  z-index: 1;
  @include respond-to(small-screens){display: inline-block;};
  @include respond-to(medium-screens){display: none;}
  @include respond-to(wide-screens){display: none;}
  a {@include a}
  a:hover {@include a_hover}
  .first_mb {
    @include typo_bold_titre;
  }
  .second_mb {
    p.collaborateurs_mobile,
    p.annee_mobile,
    ul.categories_mobile li,
    p.collaborators_mobile{
      @include typo_bold;
    }
  }
}
section.liste::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
section.liste {
  border-top: $border_johl;
  background-color: white;
  height: calc(100% - #{$hauteur_menu+$gouttiere_medium*2});
  position: fixed;
  overflow-y: scroll;
  top:$hauteur_menu;
  border-right: 1px solid black;
  @include respond-to(small-screens){display: none !important;};
  @include respond-to(medium-screens){width: calc(30% - #{$gouttiere_medium_double}); padding-top:$gouttiere_medium*2; padding-left: $gouttiere_medium; padding-right: $gouttiere_medium};
  @include respond-to(wide-screens){width: calc(30% - #{$gouttiere_large_double}); padding-top:$gouttiere_large*2; padding-left: $gouttiere_large; padding-right: $gouttiere_large};
  -ms-overflow-style: none;  /* Hide scrollbar for  IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
  ul.project_list {
    padding-bottom: 50px;
  }
}

section.liste_deux {
  @include respond-to(small-screens){width: 100%; margin-bottom: 100px;};
  @include respond-to(medium-screens){display: none;};
  @include respond-to(wide-screens){display: none;};

}
.project_list li.current {
  height: 40px;
  position: relative;
    overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
  @include typo_bold_titre;
  .icon_active {
      display: inline-block;
      @include fadein(1s)
  }
  .arrow {
      display: none;
  }
  a{
      @include center-vertically;
      text-align: right;
      @include fadein(1s);
      @include respond-to(small-screens){width: calc(100% - (25px +  #{$gouttiere_small})); padding-left: $gouttiere_small;};
      @include respond-to(medium-screens){width: calc(100% - (25px +  #{$gouttiere_medium})); padding-left: $gouttiere_medium;};
      @include respond-to(wide-screens){width: calc(100% - (25px +  #{$gouttiere_large})); padding-left: $gouttiere_large;};
  }
}

.project_list li {
  border-bottom: $border_johl;
  @include typo_titre_caps;
  height: 40px;
  position: relative;
  .icon_active {
    display: none;
    width: 25px;
    float: left;
    height: 100%;
    position: relative;
    .icone_current {
        @include center-vertically;
        @include fontstack_3;
        font-size: 130%;
    }
  }
  .link_to_post {
    width: 90%;
    float: left;
  }
  a {
    @include a;
    @include center-vertically;
    width: 90%;
    overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
  }
  .arrow {
    right: 0px;
    width: 10%;
    float: left;
text-align: right;
    @include center-vertically;
    @include fontstack_3;
    font-size: 160%;
  }
}
.project_list li:first-child {
  @include respond-to(small-screens){border: none;};

}

#rendu_single {
  @include respond-to(small-screens){width: 100%; padding-top: $gouttiere_small; padding-bottom: $hauteur_bouton_project_mobile;
  };
  @include respond-to(medium-screens){width: calc(70% - #{$gouttiere_medium_double});  padding-top: $gouttiere_medium; padding-left: $gouttiere_medium; padding-right: $gouttiere_medium};
  @include respond-to(wide-screens){width: calc(70% - #{$gouttiere_large_double});  padding-top: $gouttiere_large; padding-left: $gouttiere_large; padding-right: $gouttiere_large};
  float: right;
}
.first {
  width: 70%; margin-right: 30%;
  z-index: 1;
  @include typo_bold_titre;
  @include respond-to(small-screens){margin-top: $gouttiere_small; margin-bottom: $gouttiere_small};
  @include respond-to(medium-screens){margin-top: $gouttiere_medium*2.4; margin-bottom: $gouttiere_medium};
  @include respond-to(wide-screens){margin-top: $gouttiere_large*2.05; margin-bottom: $gouttiere_large};
}
.third {
  width: 67%;
  margin-right: 3%;
  float: left;
  z-index: 1;
  @include respond-to(small-screens){  width: 100%; margin-bottom: $gouttiere_small*2};
  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium*3};
  @include respond-to(wide-screens){margin-bottom: $gouttiere_large*3};
}
.second {
  width: 27%;
  margin-left: 3%;
  float: left;
  z-index: 1;
  @include respond-to(small-screens){  margin-left: 0%; width: 100%; margin-bottom: $gouttiere_small};
  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
  @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
  p.colab, p.date, ul.liste_categ, p.collaborators {
    @include typo_bold; text-transform: lowercase;
  }
  ul.liste_categ {
    @include respond-to(medium-screens){margin-bottom: $gouttiere_medium*3};
    @include respond-to(wide-screens){margin-bottom: $gouttiere_large*3};
  }
  ul li a {
    @include a;
  }
}

// Partie droite
              .contenu {
                width: 100%;
                @include respond-to(small-screens){width: calc(100% - #{$gouttiere_small*2}); padding-left: $gouttiere_small; padding-right: $gouttiere_small; padding-bottom: $hauteur_bouton_project_mobile + $gouttiere_small};

                div {
                  @include respond-to(small-screens){margin-bottom: $gouttiere_small};
                  @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
                  @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
                }
                .entier {
                  width: 100%;
                  height: 40vw;
                  float: left;
                  @include respond-to(small-screens){height: 60vw;};

                }
                .moitie {
                  @include respond-to(medium-screens){width: calc(50% - #{$gouttiere_medium_divide}); padding: 0 $gouttiere_medium/2 0 0;}
                  @include respond-to(wide-screens){width: calc(50% - #{$gouttiere_large_divide}); padding: 0 $gouttiere_large/2 0 0;}
                  @include respond-to(small-screens){width: 100%;  height: 60vw;};
                  height: 25vw;
                  float: left;
                }
                .moitiedeux {
                  @include respond-to(medium-screens){width: calc(50% - #{$gouttiere_medium_divide}); padding: 0 0 0 $gouttiere_medium/2;}
                  @include respond-to(wide-screens){width: calc(50% - #{$gouttiere_large_divide}); padding: 0 0 0 $gouttiere_large/2;}
                  @include respond-to(small-screens){width: 100%; height: 60vw;};
                  height: 25vw;
                  float: left;
                }
              }
