@import "0_MIXIN.scss";
@import "Wordpress_typo.scss";
#pageinfos {
  @include respond-to(small-screens){padding: 0 $gouttiere_small 0 $gouttiere_small};
  @include respond-to(medium-screens){padding:  0 $gouttiere_medium 0 $gouttiere_medium};
  @include respond-to(wide-screens){padding:  0 $gouttiere_large 0 $gouttiere_large};
  h3{
    display: inline-block;
    @include typo_bold;
    @include respond-to(small-screens){padding-bottom: $gouttiere_small};
    @include respond-to(medium-screens){padding-bottom:   $gouttiere_medium};
    @include respond-to(wide-screens){padding-bottom:   $gouttiere_large};
  }
  .information_gauche {
    width: 30%;
    float: left;
    .col_gauche_one {
      display: block;
      width: 100%;
      h3 {
        width: 100%;
      }
      p.adresse {
        @include respond-to(small-screens){padding-bottom: $gouttiere_small};
        @include respond-to(medium-screens){padding-bottom:   $gouttiere_medium};
        @include respond-to(wide-screens){padding-bottom:   $gouttiere_large};
      }
    }
    .col_gauche_two {
      display: block;
      width: 100%;
      h3 {
        width: 100%;
      }

    }
    img.profilpic {
      width: 20%;
      position: fixed;
      @include respond-to(small-screens){bottom: $gouttiere_small};
      @include respond-to(medium-screens){bottom: $gouttiere_medium};
      @include respond-to(wide-screens){bottom: $gouttiere_large};
    }
  }
  .information_droite {
    width: 70%;
    float: left;
    .info_generale {
      display: block;
      @include respond-to(small-screens){margin-bottom: $gouttiere_small};
      @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
      @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
      .header_infos {
        width: 100%;
        @include respond-to(small-screens){margin-bottom: $gouttiere_small};
        @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
        @include respond-to(wide-screens){margin-bottom: $gouttiere_large};
        @include typo_grostexte;
      }
    }
    ul.colab, ul.clients, ul.services {
      @include respond-to(small-screens){margin-bottom: $gouttiere_small};
      @include respond-to(medium-screens){margin-bottom: $gouttiere_medium};
      @include respond-to(wide-screens){margin-bottom: $gouttiere_large};

    }

  }

}

#pageinfos a {@include a;}
#pageinfos a:hover {@include a_hover}
