@import "grid.scss";

$border_unit: px;
$value_menu: 150;
$hauteur_li: 47px;
$hauteur_li_moins_border: 47px;

/* Border */
$value_border: 1.7;

$border: $value_border + $border_unit;
$border_johl: $border solid #ababab;

$value_section_liste: $value_menu + $border_unit;

@mixin border($dir) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-#{$dir}: $border_johl;
  }

/* Border for Retina */
$value_border_retina: 1.5;
$border_retina: $value_border_retina + $border_unit;
$border_johl_retina: $border_retina solid black;

$value_section_liste_retina: $value_menu + $value_border_retina;
$hauteur_section_liste_retina: $value_section_liste_retina + $border_unit;

@mixin border_retina($dir) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-#{$dir}: $border_johl_retina;
}

@mixin center-vertically-horizontally { // mettre le parent en position relative
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
  }

@mixin responsive_function($func, $small, $medium, $wide) {
  @include respond-to(small-screens) {#{$func}: $small}
  @include respond-to(medium-screens) {#{$func}: $medium}
  @include respond-to(wide-screens) {#{$func}: $wide}
}

@mixin height_width_cent_pour_cent_moins($small, $medium, $wide) {
  @include respond-to(small-screens) {width: calc( 100% - #{$small*2}); height: calc(100% - #{$small*2});}
  @include respond-to(medium-screens) {width: calc( 100% - #{$medium*2}); height: calc(100% - #{$medium*2}); }
  @include respond-to(wide-screens) {width: calc( 100% - #{$wide*2}); height: calc(100% - #{$wide*2}); }
}

@mixin positionbottom {// mettre le parent en position relative
  position: absolute;
  bottom: 0%;
  @include prefix(transform, translateY(-0%), 'webkit' 'ms');
}


/* padding  */
$petit_espace_small: $gouttiere_small/3;
$petit_espace_medium: $gouttiere_medium/3;
$petit_espace_large: $gouttiere_large/3;

@mixin fadein($time) {
animation: fadein $time;
 -moz-animation: fadein $time; /* Firefox */
 -webkit-animation: fadein $time; /* Safari and Chrome */
 -o-animation: fadein $time; /* Opera */
}

@mixin fadeout($time) {
animation: fadeout $time;
 -moz-animation: fadeout $time; /* Firefox */
 -webkit-animation: fadeout $time; /* Safari and Chrome */
 -o-animation: fadeout $time; /* Opera */
}

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    } // Output standard non-prefixed declaration
    #{$property}: $value;
  }

@mixin center-vertically-horizontally { // mettre le parent en position relative
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
  }
  @mixin center-vertically {// mettre le parent en position relative
    position: absolute;
    top: 50%;
    @include prefix(transform, translateY(-50%), 'webkit' 'ms');
  }
  @mixin positiontop {// mettre le parent en position relative
    position: absolute;
    top: 0%;
    @include prefix(transform, translateY(-0%), 'webkit' 'ms');
  }
  @mixin global_border {
    box-sizing:border-box;  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fadeout {
  0%   {opacity: 1; display: block;}
  70%  {opacity: 0;}
  100% {opacity: 0; display: none;}
}
@-moz-keyframes fadeout { /* Firefox */
  0%   {opacity: 1; display: block;}
  70%  {opacity: 0;}
  100% {opacity: 0; display: none;}
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  0%   {opacity: 1; display: block;}
  70%  {opacity: 0;}
  100% {opacity: 0; display: none;}
}
@-o-keyframes fadeout { /* Opera */
  0%   {opacity: 1; display: block;}
  70%  {opacity: 0;}
  100% {opacity: 0; display: none;}
}
