@import "../func/mixin.scss";
@import "../func/typo.scss";

#pageinfos {

a {@include a;}
a:hover {@include a_hover}
h3{
    display: inline-block;
    white-space: nowrap;
    @include typo_bold;
    @include respond-to(small-screens){padding-bottom: $petit_espace_small };
    @include respond-to(medium-screens){padding-bottom:   $petit_espace_medium};
    @include respond-to(wide-screens){padding-bottom:   $petit_espace_large};
  }
  .ligne_info_un {
    width: 100%;
    height: 30vw;
    display: block;
    @include respond-to(small-screens){height: unset;};
    @include global_border;
    @include respond-to-middle(MD-screens){height: 40vw;};

    .texte_gauche {
      width: 50%;
      height: 100%;
      border-right: $border_johl;
      @include global_border;
      float: left;
      overflow-y: hidden;
      @include respond-to(wide-screens){padding: $gouttiere_large;};
      @include respond-to(medium-screens){padding: $gouttiere_medium;};
      @include respond-to(small-screens){padding: $gouttiere_small; border-bottom: $border_johl; width: 100%; border-right: none; height: unset;};
    }
    .marges_image {
      @include respond-to(wide-screens){  width: 50%; float: left; height: 100%;};
      @include respond-to(medium-screens){  width: 50%; float: left; height: 100%;};
      @include respond-to-middle(MD-screens){width: 50%;  height: 75%;};

      @include respond-to(small-screens){
        width: 100%;
        display: inline-block;
      };
    }
    .image_droite {
        display: block;
        background-color: rgb(77, 77, 255);
        float: left;
        overflow: hidden;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        text-indent: -9999px;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: white;
        @include respond-to(wide-screens){width: calc(100% - #{$gouttiere_large*2}); height: calc(100% - #{$gouttiere_large*2});  margin: $gouttiere_large;};
        @include respond-to(medium-screens){width: calc(100% - #{$gouttiere_medium*2});height: calc(100% - #{$gouttiere_medium*2}); margin: $gouttiere_medium;};
        @include respond-to(small-screens){display: inline-block; position: relative; height: 60vw; width: calc(100% - #{$gouttiere_small*2}); margin: $gouttiere_small;};
    }
  }
  .ligne_info_deux {
    width: 100%;
    border-top: $border_johl;
    display: block;

    .info_block01 {
      width: calc(50% - 10px);
      float: left;
      @include respond-to(small-screens){width: 100%;};
      .social_links {
        width: 100%;
        display: none;
        @include respond-to(wide-screens){padding: $gouttiere_large 0 0 $gouttiere_large};
        @include respond-to(medium-screens){padding: $gouttiere_medium 0 0 $gouttiere_medium};
        @include respond-to(small-screens){padding: $gouttiere_small 0 0 $gouttiere_small};
        .info_detail_01 {
          width: 30%; float: left;
        }
        .info_detail_02 {
          width: 50%; float: left;
          p {padding: 0;}
        }
      }


      p {
        @include respond-to(wide-screens){padding: $gouttiere_large $gouttiere_large*4 0 $gouttiere_large;};
        @include respond-to(medium-screens){padding: $gouttiere_medium $gouttiere_medium*4 0 $gouttiere_medium;};
        @include respond-to(small-screens){padding: $gouttiere_small $gouttiere_small*4 0 $gouttiere_small;};
      }
    }
    .colonnes_listes {

              float: left;
              width: calc(50% + 10px);
              @include respond-to(small-screens){width: calc(100% - #{$gouttiere_small}); padding: 0 $gouttiere_small 0 $gouttiere_small};

            .info_block02 {
              float: left;
              @include respond-to(small-screens){width: 90%;};
                .fer_a_gauche {
                  width: 350px;
                    h3 {
                      @include respond-to(wide-screens){padding-top: $gouttiere_large;};
                      @include respond-to(medium-screens){padding-top: $gouttiere_medium;};
                      @include respond-to(small-screens){padding-top: $gouttiere_small;};
                    }
              }
            }
            .info_block03 {
              float: left;
              @include respond-to(small-screens){width: 90%;};
              .fer_a_gauche {
                width: 350px;
                @include respond-to(small-screens){width: 100%;};
                h3 {
                  @include respond-to(wide-screens){padding-top: $gouttiere_large;};
                  @include respond-to(medium-screens){padding-top: $gouttiere_medium;};
                  @include respond-to(small-screens){padding-top: $gouttiere_small;};
                }
              }
            }
        }
    .info_block04 {
      float: left;
      @include respond-to(small-screens){width: 90%;};
      .fer_a_gauche {
        width: 350px;
        @include respond-to(small-screens){width: 100%;};
        h3 {
          @include respond-to(wide-screens){padding-top: $gouttiere_large;};
          @include respond-to(medium-screens){padding-top: $gouttiere_medium;};
          @include respond-to(small-screens){padding-top: $gouttiere_small;};
        }
      }
    }
    .detail_mobile {
      @include respond-to(medium-screens){display: none};
      @include respond-to(wide-screens){display: none};
      @include respond-to(small-screens){display: inline-block;  width: calc(100% - #{$gouttiere_small*2}); padding: $gouttiere_small $gouttiere_small $gouttiere_small $gouttiere_small};
      .lieu {
        padding-bottom: $gouttiere_small;
      }
    }

    .about_simon {
      width: 100%;
      text-align: right;
      bottom: 0px;
      display: inline-block;
      margin-top: 200px;
      @include respond-to(wide-screens){padding-bottom: $gouttiere_large; margin-top: 400px;};
      @include respond-to(medium-screens){padding-bottom: $gouttiere_medium; margin-top: 500px;};
      @include respond-to(small-screens){display: none};
      p.about_this_website {
        @include respond-to(wide-screens){padding-right: $gouttiere_large;};
        @include respond-to(medium-screens){padding-right: $gouttiere_medium;};
        @include respond-to-middle(MD-screens){display: none;};
        @include respond-to(small-screens){padding-right: $gouttiere_small;};
      }
    }

  }

  .ligne_info_trois {
      height: 80px;
      bottom: 0; position: fixed;
      @include respond-to(wide-screens){ width: calc(100% - #{$gouttiere_large}); padding: $gouttiere_large $gouttiere_large 0 0;};
      @include respond-to(medium-screens){width: calc(100% - #{$gouttiere_medium}); padding: $gouttiere_medium $gouttiere_medium 0 0;};
      @include respond-to(small-screens){display: none};

      .info_detail_01 {
        height: 100%;
        position:relative;
        bottom:0;
        width: 15%;
        float: left;
        @include respond-to(wide-screens){padding-left: $gouttiere_medium;};
        @include respond-to(medium-screens){padding-left: $gouttiere_medium;};
        @include respond-to-middle(MD-screens){width: 20%; padding-left: $gouttiere_medium;};
        .contenu_detail {
          position: absolute;
          bottom: 0;
          @include respond-to(wide-screens){padding-bottom: $gouttiere_large;};
          @include respond-to(medium-screens){padding-bottom: $gouttiere_medium;};
        }
      }
      .info_detail_02 {
        height: 100%;
        position:relative;
        bottom:0;
        width: 50%;
        float: left;
        @include respond-to(small-screens){width: 100%; bottom:unset;}
        .contenu_detail {
          position: absolute;
          bottom: 0;
          width: 100%;
          @include respond-to(wide-screens){padding-bottom: $gouttiere_large;};
          @include respond-to(medium-screens){padding-bottom: $gouttiere_medium;};
          @include respond-to(small-screens){padding: 0 $gouttiere_small $gouttiere_small $gouttiere_small;};
        }
      }
  }
}

@media screen and (max-height: calc(42vw + #{$hauteur_menu})) {
  #pageinfos .ligne_info_trois {
      display: none;
  }
  #pageinfos .ligne_info_deux .info_block01 .social_links {
        display: inline-block; position: relative;
    }
  #pageinfos  .ligne_info_deux .about_simon{
          margin-top: 100px;
    }
}
