@import "../func/mixin.scss";
@import "typo.scss";

.post_hover {
  margin-left: 28px;
  color:white;
  padding: 10px;
  width:200px;
  display: inline;
  display: none;
}
.post_hover_home {
  margin-top: -12px;
  width:33.33%;
  @include respond-to(small-screens){width:80%;};
  p.titre_hover {
    @include typo_titre_caps;
    @include respond-to(small-screens){padding-bottom: $petit_espace_small;};
    @include respond-to(medium-screens){padding-bottom: $petit_espace_medium;}
    @include respond-to(wide-screens){padding-bottom: $petit_espace_large;}
  }
  p.sous_titre_hover {
    @include typo_bold;
  }
}
.post_hover_img {

  z-index: 88888;
  margin-top: -80px;
}
.back:hover .bar {
}

.Boxtwo {
    z-index: 9999;
    top: 0;
    color: white;
    width: 300px  !important;
    height: 100px  !important;
    left:-400px;
    white-space: nowrap;
}
