@import "../func/typo.scss";

$hauteur_menu: 150px;
$hauteur_menu_mobile: 150px;
$glyph_current_page_width: 20px;

.blank {
    @include respond-to(small-screens){height: $hauteur_menu_mobile; };
    @include respond-to(medium-screens){height: $hauteur_menu; };
    @include respond-to(wide-screens){height: $hauteur_menu;};
    width: 100%;
    display: block;
}
.top_color {
  width: 100%;
  height: $hauteur_menu;
  position: fixed;
  z-index: 1;
  top: 0px;
  @include respond-to(wide-screens){height: $hauteur_menu;};
  @include respond-to(medium-screens){height: $hauteur_menu;};
  @include respond-to(small-screens){height: $hauteur_menu_mobile;};
}

.menu {
  width: 100%;
  height: $hauteur_menu;
  position: fixed;
  z-index: 2;
  top: 0px;
  @include respond-to(wide-screens){height: $hauteur_menu;};
  @include respond-to(medium-screens){height: $hauteur_menu;};
  @include respond-to(small-screens){height: $hauteur_menu_mobile;};
  .left {
    @include respond-to(wide-screens){width: 50%;};
    @include respond-to(medium-screens){width: 50%;};
    @include respond-to(small-screens){width: 100% ; text-align: center; height: $hauteur_menu_mobile/2};
    float: left;
    h1 {
      @include respond-to(wide-screens){padding: $gouttiere_large 0 0 $gouttiere_large;   @include h1;};
      @include respond-to(medium-screens){padding: $gouttiere_medium 0 0 $gouttiere_medium;   @include h1;};
      @include respond-to(small-screens){ a {@include typo_bold_titre;} padding: $gouttiere_small 0 0 0; font-size: unset !important;};
    }
  }
  .right {
    @include respond-to(wide-screens){width: 50%;};
    @include respond-to(medium-screens){width: 50%;};
    @include respond-to(small-screens){width: 100%; height: $hauteur_menu_mobile/2;};
    float: left;
    .Menu_principal {
      li {
        display: inline-block;
      }
    };
    ul#menu {
      @include respond-to(wide-screens){padding: $gouttiere_large $gouttiere_large 0 0; text-align: right;};
      @include respond-to(medium-screens){padding: $gouttiere_medium $gouttiere_medium 0 0; text-align: right;};
      @include respond-to(small-screens){padding: 0; width: 100%;};
      li {
        @include typo_titre_roman;
        &::first-letter {
          text-transform: uppercase;
        }
        text-transform: unset;
        @include respond-to(small-screens){
          width: 50%; float: left; height: $hauteur_menu_mobile/2; position: relative;
        };
        a {
          @include a;
          &:hover {@include a_hover_bold;}
          @include respond-to(small-screens){
            position: absolute; bottom: $gouttiere_small; z-index: 99999;

          };
        }
      }
      li:nth-child(2) {
        a.nav-link {
          @include respond-to(small-screens){position: absolute; right: $gouttiere_small; };
        }
      }
      li:first-child {
        position: absolute;
        right: $glyph_current_page_width*4;
        @include respond-to(wide-screens){padding-right: $glyph_current_page_width*4;};
        @include respond-to(medium-screens){padding-right: $glyph_current_page_width*4;};
        @include respond-to(small-screens){padding-right: 0; right: unset; position: unset};
        a.nav-link {
          @include respond-to(small-screens){padding-left: $gouttiere_small; };
        }
      }
      li.current-menu-item {
        @include typo_bold_titre;
        a.nav-link::before {font-size: 110%; content: "	↪ "; @include a_hover_bold; @include center-vertically; margin-left: -$glyph_current_page_width*1.2;}
      }
      li:first-child.current-menu-item a.nav-link{
        @include respond-to(small-screens){
        margin-left: $gouttiere_small*1.2; }
      }
    }
  }

}
